extends base

block content

    main.main
        .error
            .error__title
                h2.heading-secondary.heading-secondary--error Uh oh! Something went wrong!                    
                h2.error__emoji 

            img(src='/img/404-Page-Featured-Image.png' alt='globe' style='width:65%') 
            .error__msg= msg
